<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>beDev ChatBot</title>
    <!-- conferir essa parte do css mais tarde!  14:39-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}"/>
    
  </head>
  <body>
    <div class="container">
      <div class="chatbox">
        <div class="chatbox__support">
          <div class="chatbox__header">
            <div class="close-chatbox-btn">x</div>
            <div class="chatbox__image--header">
              <img
                src="/static/images/female-user.png"
                alt="image"
                width="80"
                height="80"
              />
            </div>
            <div class="chatbox__content--header">
              <h4 class="chatbox__heading--header">John</h4>
              <p class="chatbox__description--header">
                Oi, eu sou a Daniela, sua assistente virtual. Digite sua mensagem abaixo para que eu possa te ajudar.
              </p>
            </div> 
          </div>
          <div class="chatbox__messages">
            <div></div>
          </div>
          <div class="chatbox__footer">
            <input class="input__chat" type="text" placeholder="Digite 'ola' para começar..." />
            <button class="chatbox__send--footer send__button">Enviar</button>
          </div>
        </div>
        <div class="chatbox__button">
          <button>
            <img src="/static/images/chat.png"/>
          </button>
        </div>
      </div>
    </div>
    <script>$SCRIPT_ROOT = {{ request.script_root|tojson }}</script>
    <script 
      type="text/javascript" src="{{url_for('static', filename='app.js' )}}"></script>
  </body>
</html>
